@import "styles/variables.scss";

.loader {
  display: block;
  //margin: 50px auto;
  border-style: solid;
  border-color: $main;
  border-top-color: transparent;
  
  border-radius: 50%;
  transform: rotate(135deg);
  animation: spinner 2s linear infinite;

  box-sizing: border-box;
}

.loader_white {
  border-color: $white-color;
  border-top-color: transparent;
}

.loader_hide {
  display: none;
}


.loader_s {
height: 20px;
width: 20px;
border-width: 3px;  
}

.loader_m {
height: 40px;
width: 40px;
border-width: 4.5px;  
}

.loader_l {
height: 60px;
width: 60px;
border-width: 6px;   
}

@keyframes spinner {
  from {
      transform: rotate(135deg);
  }

  to {
      transform: rotate(495deg);
  }
}
