{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier",
    "react"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
      ],
      "parserOptions": {
        "project": "./**/tsconfig.json",
        "ecmaVersion": 2020,
        "sourceType": "module"
      },
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "react/no-direct-mutation-state": "off",
        "react/no-deprecated": "off",
        "react/no-string-refs": "off",
        "react/require-render-return": "off",
        "react/jsx-filename-extension": [
          "warn",
          {
            "extensions": [
              ".jsx",
              ".tsx"
            ]
          }
        ],
        "react/prop-types": "off",
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "error",
    "prettier/prettier": "error",
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}