$white-color: #FFFFFF;
$disable-main: #D9D9D9;
$main:  #FF0000;
$border-radius-main: 7px;
$heightNav: 60px;
$heightFooter: 60px;
$heigthLike: 40px;
$mainGradient: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
$box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.30);
