@import "styles/variables.scss";

.mainContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-bottom:  calc(100px + $heightFooter); 
}