@import "styles/variables.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  background:  rgba(255, 235, 235, 0.6);;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:  $heightFooter;
  border-top: 1px solid hsl(0, 0%, 90%);
  position: absolute;
  bottom: 0;
  width: 100%;
}